
.button {
  border-radius: 40px;
  color: inherit;
  background-color: inherit;
  padding: 8px 16px;
  cursor: pointer;
}




.primary {
  background-color: var(--color-primary);

  &:hover {
    background-color: hsla(266, 72%, 60%, 1);
  }

  &:disabled {
    background-color: hsla(266, 72%, 70%, 1);
    cursor: default;
  }
}

.secondary {
  background-color: var(--color-secondary);

  &:hover {
    background-color: hsla(267, 100%, 88%, 1);
  }

  &:disabled {
    background-color: hsla(267, 100%, 78%, 1);
    cursor: default;
  }
}
